@using INV.Domain.Entities.Receipts
<div class="d-flex justify-content-between">
    <div>
        @Pills
    </div>
</div>
@if (Receptions is null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="Container-list">
        <RadzenDataGrid Data="@Receptions" AllowSorting="true" AllowFiltering="true"
                        Style="width: 100%;" >
            <Columns>
                <RadzenDataGridColumn Property="@nameof(Receipt.Status)" Title="Article" />
                <RadzenDataGridColumn Property="@nameof(Receipt.Date)" Title="Date"/>  
            </Columns>
        </RadzenDataGrid>
    </div>
}
@code{
  
    [Parameter] public List<Receipt> Receptions { get; set; }
    [Parameter] public RenderFragment Pills { get; set; }

}