﻿@using INV.App.Suppliers
@using INV.Domain.Entities.SupplierEntity
@rendermode InteractiveServer

@if(display)
{
<div class="modal-overlay">
    <div class="modal-content">
        <EditForm Model="supplierEdit" OnValidSubmit="UpdateSupplier" FormName="updatedata">
            <DataAnnotationsValidator />

            <div class="commend-content">
                <div class="commend-titel">
                    <h3>Information of Supplier</h3>
                </div>

                <div class="input">
                    <div class="commend-input">
                        <label>Full Name</label>
                        <InputText @bind-Value="supplierEdit.SupplierName" placeholder="Enter Supplier Name" />
                        <ValidationMessage For="() => supplierEdit.SupplierName" />
                    </div>
                </div>
                <div class="input">
                    <div class="commend-input">
                        <label>Company Name (Legal from determination)</label>
                        <InputText @bind-Value="supplierEdit.CompanyName" placeholder="Enter Supplier Company" />
                        <ValidationMessage For="() => supplierEdit.CompanyName" />
                    </div>
                </div>
                <div class="input">
                    <div class="commend-input">
                        <label>Address</label>
                        <InputText @bind-Value="supplierEdit.Address" placeholder="Enter Supplier Address" />
                        <ValidationMessage For="() => supplierEdit.Address" />
                    </div>
                </div>

                <div class="input2">
                    <div class="commend-input">
                        <label>Phone</label>
                        <InputText @bind-Value="supplierEdit.Phone" placeholder="Enter Supplier Phone" />
                        <ValidationMessage For="() => supplierEdit.Phone" />
                    </div>
                    <div class="commend-input">
                        <label>Email</label>
                        <InputText @bind-Value="supplierEdit.Email" placeholder="Enter Supplier Email" />
                        <ValidationMessage For="() => supplierEdit.Email" />
                    </div>
                </div>

                <div class="input2">
                    <div class="commend-input">
                        <label>Commercial registration number (RC)</label>
                        <InputText @bind-Value="supplierEdit.RC" placeholder="Enter RC" />
                        <ValidationMessage For="() => supplierEdit.RC" />
                    </div>
                    <div class="commend-input">
                        <label>Article number (ART)</label>
                        <InputNumber @bind-Value="supplierEdit.ART" placeholder="Enter ART" />
                        <ValidationMessage For="() => supplierEdit.ART" />
                    </div>
                </div>

                <div class="input2">
                    <div class="commend-input">
                        <label>NIF</label>
                        <InputNumber @bind-Value="supplierEdit.NIF" placeholder="Enter NIF" />
                        <ValidationMessage For="() => supplierEdit.NIF" />
                    </div>
                    <div class="commend-input">
                        <label>NIS</label>
                        <InputNumber @bind-Value="supplierEdit.NIS" placeholder="Enter NIS" />
                        <ValidationMessage For="() => supplierEdit.NIS" />
                    </div>
                </div>

                <div class="input2">
                    <div class="commend-input">
                        <label>Bank Account (RIB)</label>
                        <InputText @bind-Value="supplierEdit.RIB" placeholder="Enter RIB" />
                        <ValidationMessage For="() => supplierEdit.RIB" />
                    </div>

                    <div class="commend-input">
                        <label>Bank Address</label>
                        <InputText @bind-Value="supplierEdit.BankAgency" placeholder="Enter Bank Address" />
                        <ValidationMessage For="() => supplierEdit.BankAgency" />
                    </div>
                </div>


                <div class="footer-form">
                    <button  class="btn-custom btn-cancel" type="button" @onclick="close">Close</button>
                    <button style="margin-left:10px" class="btn-custom btn-submit" type="submit">Save Changes</button>

                </div>
            </div>
        </EditForm>
    </div>
</div>
}