@using System.ComponentModel.DataAnnotations
@using INV.Domain.Entities.SupplierEntity
<EditForm Model="sup" OnValidSubmit="OK">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="row gy-3">
        <div class="col-12">
            <h5 class="mb-3">a</h5>
        </div>

        <div class="col-12">
            <h5 class="mb-3">a</h5>
          
        </div>

        <div class="col-12">
            <h5 class="mb-3">a</h5>
           
        </div>

     

        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary" >
                Update 
            </button>
        </div>
    </div>
</EditForm>