<div class="container-status">
    <div class="content-status  @GetStatusClass()">
        <p>@status</p>
    </div>
    <div class="content-icon">
        <i class=" @GetStatusIcon()"></i>
    </div>

</div>