<div class="container-status">
    @if (text)
    {
        <div class="content-status  @GetStatusClass()">
            <p>@status</p>
        </div>
    }

    @if (icon)
    {
        <div class="content-icon">
            <i class=" @GetStatusIcon()"></i>
        </div>
    }


</div>