@page "/receptions"


<ReceptionList >
	<Pills>
		<button type="button"class="addsupplier-button" @onclick="() => purchaseSelector.ShowModal()"><i class="bi bi-person-plus"></i> Select a purchase to receive</button>
		<PurchaseSelector Title="Select Command" Command="purchases" OnSelected="CommandSelectednew" @ref="purchaseSelector" />
	</Pills>
</ReceptionList>