@using INV.Domain.Entities.Purchases
<div class="info-box">
    <div class="info-box-icon">
        @if (string.IsNullOrWhiteSpace(IconClass) == false)
        {
            <i class=@IconClass></i>
        }
        @Label
    </div>
    <div class="info-box-text">@Value</div>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public DateOnly Date { get; set; }
    [Parameter] public decimal Number { get; set; }
    [Parameter] public string IconClass { get; set; } = string.Empty;
    [Parameter] public PurchaseStatus Status { get; set; }

}