<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["Web.styles.css"]"/>
    <link rel="stylesheet" href="@Assets[""]"/>
    <link rel="stylesheet" href="DCSS/Supplier.css"/>
    <link rel="stylesheet" href="DCSS/Createreception.css"/>
    <link rel="stylesheet" href="ICSS/PurchaseOrder.css"/>
    <link rel="stylesheet" href="ICSS/Home.css"/>

    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>