<div class="top-row ps-3 navbar navbar-dark" style="background-color:#257180 ">
    <div class="container-fluid d-flex align-items-center">
        <img src="Images/logo1.png" alt="Logo" style="width: 100px;margin-left: 30px;" />
        <span class="ms-auto" style="font-weight: normal; font-size: 0.9em; color: #FD8B51;">Manage your inventory online</span>
    </div>
</div>
<br/><br/><br/>
<div class="nav-scrollable" style="background-color:#257180" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All" style="color: white;">
                <span class="bi bi-house-fill me-3" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="inventory" style="color: white;">
                <span class="bi bi-box-seam me-3" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="purchaseOrder" style="color: white;">
                <span class="bi bi-box-seam me-3" aria-hidden="true"></span> Purchase Order
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="toast" style="color: white;">
                <span class="bi bi-box-seam me-3" aria-hidden="true"></span> Toast
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="ReceptionList" style="color: white;">
                <span class="bi bi-clipboard me-3" aria-hidden="true"></span> ReceptionList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="reception" style="color: white;">
                <span class="bi bi-journal-plus me-3" aria-hidden="true"></span> Add a reception
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="categories" style="color: white;">
                <span class="bi bi-tags-fill me-3" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="supplier" style="color: white;">
                <span class="bi bi-people-fill me-3" aria-hidden="true"></span> Add Supplier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="members" style="color: white;">
                <span class="bi bi-people-fill me-3" aria-hidden="true"></span> Members
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="rapports" style="color: white;">
                <span class="bi bi-bar-chart-fill me-3" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="setting" style="color: white;">
                <span class="bi bi-gear-fill me-3" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="logout" style="color: #FD8B51;">
                <span class="bi bi-box-arrow-right me-3" aria-hidden="true"></span> Disconnect
            </NavLink>
        </div>
    </nav>
</div>
