.nav-link {
    font-size: 1.1em;
    padding: 8px 0;
    display: flex;
    align-items: center;

}

.nav-link span {
    font-size: 0.9em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 0.5em;
}

.nav-link.active {
    background-color: #175656;
    color: white;
    font-weight: bold;
}

.bi {
    transition: transform 0.2s;
}

.nav-link:hover .bi {
    transform: scale(1.2);
}