@using INV.Domain.Shared
@using INV.App.Purchases
@using INV.App.Services

@if (displayModal)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-2" placeholder="Enter Supplier name or email" @bind-value="SearchTerm" @bind-value:event="oninput"/>
                <div style="max-height:300px" class="overflow-auto">
                    <table class="table table-sm table-striped mb-0">
                        @foreach (var command in displayedItems)
                        {
                            <tr style="cursor: pointer">
                                <td>
                                    <a @onclick="() => selectItem(command)">@command.Date | @command.SupplierName | @command.Status</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick=@close>Close</button>
            </div>
        </div>
    </div>
}

@code {

    //private Result result; 

}