@using INV.App.PurchaseOrders
@using INV.Domain.Entities.PurchaseOrders
@using INV.Domain.Entities.SupplierEntity

<div class="container-supplier">


    <EditForm Model="purchaseValidateModel" OnValidSubmit="ValidetePurchase" style="width:100%">
        @if (purchaseOrder.Status != PurchaseStatus.Validated)
        {
            <DataAnnotationsValidator />


            <div class="col-md-12">
                <label for="financialInterest" class="form-label fw-bold">Financial Interest</label>
                <InputText class="form-control" id="financialInterest"
                           @bind-Value="purchaseValidateModel.Data" />
                <ValidationMessage For="() => purchaseValidateModel.Data" />

            </div>
            <div class="col-md-12" style="border: none">
                <label for="interestDate" class="form-label fw-bold">Date</label>
                <InputText class="form-control" id="interestDate" 
                           @bind-Value="purchaseValidateModel.Data2" />
                <ValidationMessage For="() => purchaseValidateModel.Data2" />

            </div>
        }
        <div class="footer-form mt-3">

            <button type="submit" class="btn-custom btn-submit">
                @(purchaseOrder.Status == PurchaseStatus.Validated ? "Validated" : "Validate")
            </button> 
       
        </div> 



    </EditForm>

</div>