@using INV.App.Suppliers
@rendermode InteractiveServer

<div class="list-title">
    <h4>List of Suppliers</h4>
</div>

<div>
    <input type="text" @bind="searchName" @bind:event="oninput" placeholder="Search by supplier name" class="number-input"/>
<button type="button" class="addsupplier-button" @onclick="() => supplierSelector.ShowModal()">
    <i class="bi bi-person-plus"></i> Add a Supplier
</button></div>
<br>
@if (supplierFilter is null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="list-supplier-container">
        @foreach (SupplierInfo supplier in supplierFilter)
        {
            <div class="purchase-order-card" @onclick="()=>NavigateToSupplierDetails(supplier.ID)">
                <label class="purchase-order-header">
                    <a href=@selectedLink(supplier.ID)>
                        @supplier.Name
                    </a>
                </label>
                <label class="purchase-order">@supplier.Address</label>
                <label class="purchase-order">@supplier.Email</label>
                <label class="purchase-order">@supplier.Phone</label>
            </div>
        }
    </div>
}

<SupplierForm @ref="supplierSelector"/>