@using INV.App.Suppliers

@if (Suppliers is null)
{
    <h3>Loading...</h3>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Supplier Address</th>
            <th>Supplier Phone</th>
            <th>Supplier Email</th>
        </tr>
        </thead>
        <tbody>
        @foreach (SupplierInfo supplier in Suppliers)
        {
            <tr>
                <td>
                    <a href =@selectedLink(supplier.ID)>
                        @supplier.Name
                    </a>
                </td>
                <td>@supplier.Address</td>
                <td>@supplier.Phone</td>
                <td>@supplier.Email</td>
            </tr>
        }
        </tbody>
    </table>
}



@code
{
    [Parameter] public List<SupplierInfo> Suppliers { get; set; }
    private string selectedLink(Guid id)=> $"suppliers/{id}";
}