@page "/order"
@using INVUIs.BonCommande
@rendermode InteractiveServer

<ToastValidation Type="toastType" Title="@toastTitle" Message="@toastMessage" IsVisible="isToastVisible"
                 OnClose="CloseToast"/>
<PageTitle>Purchase Order</PageTitle>
<h4>Order Document</h4>
<Accordion>
    <AccordionItem Title="Definition of the economic operator" >
        <Content>
            <SupplierCommande @ref="sup" OnSupplier="GetSupplier"/>
        </Content>
    </AccordionItem>
    <AccordionItem Title="Details Order" >
        <Content>
            <DetailsCommande @ref="det" OnPurchaseOrder="GetPurchase"></DetailsCommande>
        </Content>
    </AccordionItem>
    <AccordionItem Title="Products Order" >
        <Content>
            <ProductsCommande @ref="pro" OnProductAddProduct="GetProduct"></ProductsCommande>
        </Content>
    </AccordionItem>
    <button type="button" class="create-button" @onclick="create">Register</button>
</Accordion>