@page "/r/{id:guid}"

@rendermode InteractiveServer
<div class="row">
    <div class="col-12 col-lg-4 col-xl-3">
        <SupplierProfileSidebar Supplier="Supplier"/>
    </div>

    <div class="col-12 col-lg-8 col-xl-9">
        <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#profile-overview">Profile Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#edit-profile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#command-settings">Command</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#reception">Reception</a>
                    </li>
                </ul>

                <div class="tab-content pt-4">
                    <div class="tab-pane fade show active" id="profile-overview">
                        <ProfileOverview Supplier="Supplier"/>
                    </div>

                    <div class="tab-pane fade" id="edit-profile">
                        <EditProfileForm Supplier="Supplier"/>
                    </div>

                    <div class="tab-pane fade" id="command-settings">
                        <CommandSettings Supplier="Supplier"/>
                    </div>

                    <div class="tab-pane fade" id="reception">
                        <ReceptionComponent/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>