@using BlazorBootstrap
@inject NavigationManager Navigation
@rendermode InteractiveServer
<div class="list-title">
    <h4>List of Purchase Orders</h4>
</div>

<div>
    <input type="text" @bind-value="SearchTerm" placeholder="Search by order number or by supplier name" class="number-input" @bind-value:event="oninput"/>
    <button type="button" class="addsupplier-button" @onclick="NavigateToPurchaseOrder"><i class="bi bi-cart-plus"></i> Add a Purchase Order</button>
</div> <br/><br/><br/>
@if (purchaseOrderInfos is null)
{
    <h3>Loading...</h3>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Supplier Name</th>
            <th>Date</th>
            <th>State</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var purchaseOrderInfo in displayedItems)
        {
            <tr>
                <td > @purchaseOrderInfo.Number</td>
                <td>@purchaseOrderInfo.SupplierName</td>
                <td>@purchaseOrderInfo.Date</td>
                <td>@purchaseOrderInfo.Status</td>
                <td>
                    <Button Size="ButtonSize.Small" Color="ButtonColor.Secondary" @onclick="() => navigatepage(purchaseOrderInfo.ID)"><Icon Name="IconName.ReplyAllFill" Color="IconColor.White" Size="IconSize.None" /></Button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
<Preload LoadingText="Loading..." Class="align-content-center" />