
<div class="content">

    <div class="titel-page">

        <p>الجمهورية الجزائرية الديمقراطية الشعبية</p>
    </div>

    <div class="part1">
        <div class="informationusers">
            <div class="part1tab1">
                <table class="red">
                    <tr>
                        <td class="header" colspan="2">سند الطلب</td>
                    </tr>
                    <tr>
                        <td>رقم:{{OrderNumber}}</td>
                        <td>تاريخ:{{OrderDate}}</td>
                    </tr>
                </table>
            </div>

            <div class="part1tab2" id="tab2">
                <table class="red">
                    <tr>
                        <td class="header">التعريف بالمصلحة النتعاقدة</td>
                    </tr>
                    <tr>
                        <td>
                            <p>التسمية: كلية الأداب ولغات</p>
                            <p>رمز المسير(الأمر بالصرف): 14608</p>
                            <p>العنوان: ص . ب 123 جامعة محمد خيضر بسكرة</p>
                            <p>الهاتف و الفاكس: 033 74 00 00</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="part1tab2">
                <table class="red">
                    <tr>
                        <td class="header">التعريف بالمتعامل الاقتصادي</td>
                    </tr>
                    <tr>
                        <td>
                            <p>الاسم و اللقب:{{SupplierName}}</p>
                            <p>او اسم الشركة(تحديد الشكل القانوني) :{{CompanyName}}</p>
                            <p>يتصرف لحساب: {{AccountName}}</p>
                            <p>العنوان: {{Email}}</p>
                            <p>الهاتف و الفاكس: {{Phone}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="addinfo">
            <div class="textfield">
                <h5>حيز مخصص </h5>
                <h5>لمصلحة المراقبة </h5>
                <h5> المالية </h5>
                <h5> ب:...............</h5>
                <h5> في:..............</h5>
                <h5> هذا الحيز مخصص </h5>
                <h5> لمصلحة الرقابة المالية </h5>
                <h5> لوضع خاتم التأشيرة </h5>
                <h5> لافضل مراقبة و متابعة </h5>
            </div>
        </div>
    </div>

</div>

<div class="part2">
    <div class="part2tab1">

        <table class="red">
            <tr>
                <td>رقم السجل التجاري:{{RC}}</td>
                <td>رقم المادة:{{ART}}</td>
            </tr>
            <tr>
                <td>رفم التعريف الجبائي:{{NIF}}</td>
                <td>رفم التعريف الاحصائي:{{NIS}}</td>
            </tr>
            <tr>
                <td colspan="2">كشف الحسابات البنكية (او البريدية):{{RIB}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{BankAgency}}
                </td>
            </tr>
        </table>

    </div>
</div>


<div class="part3">

    <div class="part3tab1">

        <table class="red">
            <tr>
                <td class="header" colspan="4">خصوصيات الطلب</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        {{TypeServiceCheckboxes}}
                    </ul>
                </td>

                <td>
                    <ul>
                        {{TypeBudgetCheckboxes}}
                    </ul>
                </td>
                <td>الباب:{{Chapter}}</td>
                <td>موضوع الطلب بالتفصيل:{{Article}}</td>

            </tr>
        </table>

    </div>

</div>


<div class="part4">
    <div class="part4tab1">
        <table class="red">
            <tr class="part4tab1tr">
                <th>الرقم</th>
                <th>البيانات</th>
                <th>وحدة القياس</th>
                <th>الكمية</th>
                <th>سعر الوحدة</th>
                <th>قيمة الضريبة</th>
                <th>المبلغ</th>
            </tr>
            {{OrderDetails}}
        </table>

    </div>

</div>

<div class="part5">

    <div class="part5tab1">
        <table class="red">
            <tr>
                <td class="bold" colspan="1">المبلغ بدون الرسم</td>
                <td>{{TotalHT}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="1">مبلغ الرسم على القيمة المضافة</td>
                <td>{{TVA}}</td>
            </tr>
            <tr>
                <td class="bold" colspan="1">المبلغ باحتساب كل الرسوم</td>
                <td>{{TotalTTC}}</td>
            </tr>
        </table>
    </div>

</div>
<div class="part6">

    <div class="part6tab1">
        <table class="red">
            <tr class="part6tab1tr1">
                <td>يوقف سند هذا الطلب على المبلغ الإجمالي (بالحروف):{{TotalTTCArabic}}
                </td>
            </tr>
        </table>

    </div>

</div>

<div class="part7">

    <div class="part7text">
        <p>يلتلزم المتعامل الاقتصادي بتنفيذ هذا الطلب, حسب الشروط المحددة</p>
        <p> مصدر التموين N/A </p>
        <p> تقدر مدة التسليم او التنفيذ ب ({{CompletionDelay}}) أيام وهذا ابتداء من تاريخ امضاء هذا السند</p>
    </div>

</div>

</div>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .content {
        display: flex;
        flex-direction: column;

    }

    .titel-page {
        display: flex;
        justify-content: center;
    }

    .part1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .part1tab1 {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .part1tab2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #tab2 {
        margin-bottom: 10px;
    }

    .informationusers {
        display: flex;
        width: 70%;
        flex-direction: column;
        align-items: center;
    }

    .addinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed black;
        width: 20%;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .textfield h5 {
        margin: 5px 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        direction: rtl;
    }

    th, td {
        border: 1px solid black;
    }

    th {
        background-color: #f2f2f2;
    }

    .header {
        font-weight: bold;
        text-align: center;

    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: column-reverse;
        align-items: stretch;
    }

    li {
        margin: 4px;
    }

    .square {
        border: 2px solid black;
        padding: 0px 9px;
    }

    .part3 {
        margin-top: 20px;
    }

    .part4 {
        margin-top: 10px;
    }

    .part4tab1tr td {
        padding: 8px 15px;
        font-size: 15px;
    }

    .part5 {
        width: 71.8%;
    }

    .part7text {
        direction: rtl;
    }
    red {

        border-radius: 10px; 
    }
</style>