@page "/a"
@using global::App.IPurchaseOrderServices
@using Service.PurchseOrderServices
@rendermode InteractiveServer
<button onclick="@generate">GEN</button>


@code{
    [Inject] public IPurchaseOrderService PurchaseOrderService { get; set; }

    private async Task generate()
    {
        try
        {
           await PurchaseOrderService.GeneratePurchaseOrderPdf(30, @"C:\Users\radoi\Videos\pdf.pdf", @"C:\Users\radoi\RiderProjects\INV2\Web\Components\Pages\a.html");
            Console.WriteLine("true");
        }
        catch (Exception e)
        {
            Console.WriteLine("erro:" + e.Message);
            throw;
        }
    }


}