@page "/profile"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<!-- Profile 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">


<div class="container">
<div class="row gy-4 gy-lg-0">
<div class="col-12 col-lg-4 col-xl-3">
    <div class="row gy-4">
        <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
                <div class="card-header" style="background-color: #257180; color: white " >Profile Supplier</div>

                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="img-fluid rounded-circle" alt="Luna John">
                    </div>
                    <h5 class="text-center mb-1">Ahmed Malem</h5>
                    <p class="text-center text-secondary mb-4">Fabelec Company</p>
                    <p class="text-center text-secondary mb-4">+213 765836411</p>
                  
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card widget-card border-light shadow-sm">
                <div class="card-header" style="background-color: #257180;  color: white">Ohter Information</div>
                <div class="card-body">
                    
                    <a>
                        <h6 class="mb-1">
                            <i class="bi bi-facebook me-2"></i>
                            Facebook <span>link</span>
                        </h6>

                    </a>
                    <a>
                        <h6 class="mb-1">
                            <span class="bii bi-geo-alt-fill me-2"></span>
                            Location <span>Chetma</span>
                        </h6>
                    </a>
                    
                </div>
            </div>
        </div>
       
    </div>
</div>
<div class="col-12 col-lg-8 col-xl-9">
<div class="card widget-card border-light shadow-sm">
<div class="card-body p-4">
    <ul class="nav nav-tabs" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true" style="color: #257180;">Overview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" style="color: #257180;">Edit</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-tab-pane" type="button" role="tab" aria-controls="email-tab-pane" aria-selected="false" style="color: #257180;">Command</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false" style="color: #257180;">Reciption</button>
        </li>
    </ul>

<div class="tab-content pt-4" id="profileTabContent">
<div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
    <h5 class="mb-3">Profile</h5>
    <div class="row g-0">
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Full name</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">Ahmed Malem</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Company name</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">FABELEC</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Adress</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">Chetma</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Email</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">ahmed@gmail.com</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">ART</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">13567887654</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">NIS</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">32476574352</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Bank Address</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">BADR</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">NIF</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">43546578</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Phone</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">+1 (248) 679-8745</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">Email</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">leo@example.com</div>
        </div>
        <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
            <div class="p-2">RIB</div>
        </div>
        <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
            <div class="p-2">3546788876543244</div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
<form action="#!" class="row gy-3 gy-xxl-4">

<div class="col-12 col-md-6">
    <label for="inputFirstName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="inputFirstName" value="Ahmed m3alem">
</div>
<div class="col-12 col-md-6">
    <label for="inputLastName" class="form-label">Company name</label>
    <input type="text" class="form-control" id="inputLastName" value="FABELEC">
</div>
<div class="col-12 col-md-6">
    <label for="inputEducation" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputEducation" value="chetma">
</div>
<div class="col-12 col-md-6">
    <label for="inputSkills" class="form-label">Phone</label>
    <input type="text" class="form-control" id="inputSkills" value="0765348876">
</div>
<div class="col-12 col-md-6">
    <label for="inputJob" class="form-label">Email</label>
    <input type="text" class="form-control" id="inputJob" value="hmed123@gmail.com">
</div>
<div class="col-12 col-md-6">
    <label for="inputCompany" class="form-label">RC</label>
    <input type="text" class="form-control" id="inputCompany" value="34567898765">
</div>
<div class="col-12 col-md-6">
    <label for="inputPhone" class="form-label">ART</label>
    <input type="tel" class="form-control" id="inputPhone" value="2345677654">
</div>
<div class="col-12 col-md-6">
    <label for="inputEmail" class="form-label">NIF</label>
    <input type="email" class="form-control" id="inputEmail" value="234567876543">
</div>
<div class="col-12 col-md-6">
    <label for="inputAddress" class="form-label">NIS</label>
    <input type="text" class="form-control" id="inputAddress" value="2345678098765">
</div>
<div class="col-12 col-md-6">
<label for="inputCountry" class="form-label">wilaya</label>
<select class="form-select" id="inputCountry">
<option value="Afghanistan" selected>Biskra</option>
<option value="Åland Islands">barika</option>
<option value="Albania">batna</option>

</select>
</div>
<div class="col-12 col-md-6">
    <label for="inputYouTube" class="form-label">RIB</label>
    <input type="text" class="form-control" id="inputYouTube" value="2345679876544567">
</div>
<div class="col-12 col-md-6">
    <label for="inputX" class="form-label">Bank Adress</label>
    <input type="text" class="form-control" id="inputX" value="CPA . Biskra">
</div>
<div class="col-12 col-md-6">
    <label for="inputFacebook" class="form-label">Link Social Media</label>
    <input type="text" class="form-control" id="inputFacebook" value="https://www.facebook.com/fabelec_company">
</div>

<div class="col-12">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>
</form>
</div>
<div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
    <form action="#!">
        <fieldset class="row gy-3 gy-md-0">
            <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
            <div class="col-12 col-md-9 col-xl-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="emailChange">
                    <label class="form-check-label" for="emailChange">
                        Email Changed
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="passwordChange">
                    <label class="form-check-label" for="passwordChange">
                        Password Changed
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                    <label class="form-check-label" for="weeklyNewsletter">
                        Weekly Newsletter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="productPromotions">
                    <label class="form-check-label" for="productPromotions">
                        Product Promotions
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
            </div>
        </div>
    </form>
</div>
<div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
    <form action="#!">
        <div class="row gy-3 gy-xxl-4">
            <div class="col-12">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="currentPassword">
            </div>
            <div class="col-12">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="col-12">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>
</body>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>