@page "/PuchaseOrdera"
@rendermode InteractiveServer


<PageTitle>Purchase Order List</PageTitle>

<div>
    <input type="number" @bind="searchNumber" min="1" placeholder="Search by order number" class="number-input" />
    <input type="date" @bind="searchDate" />
    <button class="search-button" @onclick="GetPurchaseOrder">Search</button>
</div>
<br />

@if (filteredOrders != null && filteredOrders.Any())
{
    <div class="purchase-order-container">
  
        @foreach (var order in filteredOrders)
        {
                  
            <div class="purchase-order-card">
                <label class="purchase-order-header">Order #@order.Number</label>
                <label class="purchase-order-date">@order.Status</label>
                <img src="/Images/pdf.png" alt="PDF" class="mx-auto"/>
                <a target="_blank" class="purchase-order-link">@order.Article</a>
                <button @onclick="() => DownloadFile(order.Number)" class="purchase-order-button">Download</button>
            </div>
            
        }
    </div>
}
else
{
    <p>N/A.</p>
}


<script>
    window.downloadFile = (bytes, fileName) => {
        const blob = new Blob([bytes], { type: 'application/pdf' });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        window.URL.revokeObjectURL(url);
    };
</script>