@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        @*<div class="top-row px-10" ; style="display: flex; justify-content: center; align-items: center; font-weight: bold;font-size: 1.5em; height: 60px; color:#257180; background-color:#F2E5BF;">
            Inventory Management System
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>