@using INVUIs.Suppliers


<div class="input">
    <button type="button" @onclick="() => addSupplier.ShowModal(aaa)" class="search-supp  border-0">
        <i class="bi bi-search"/> Search a Supplier
    </button>
    <button type="button" disabled="@(SupplierSelected)" class="addsupplier-button" @onclick="() => supplierSelector.ShowModal()"><i class="bi bi-person-plus"></i> Add a Supplier</button>

</div> <br/>

@if (SupplierSelected)
{
    <div class="input3">
        <div class="commend-input">
            <label for="firstName">
                Full Name : <span id="firstName" class="input-field fw-bold">@sup.NameSupplier</span>
            </label>
        </div>
        <div class="commend-input">
            <label for="companyName">
                Or Company Name : <span id="companyName" class="input-field fw-bold">@sup.NameCompany</span>
            </label>
        </div>
    </div>
    <div class="input3">
        <div class="commend-input">
            <label for="operatorAddress">
                Address : <span id="operatorAddress" class="input-field fw-bold">@sup.Address</span>
            </label>
        </div>
    </div>
<EditForm  EditContext="editContext" FormName="addbehalf">
    <DataAnnotationsValidator/>
    <div class="input3">
        <div class="commend-input">
            <label for="actsOnBehalf">Acts on Behalf of</label>
            <InputText id="actsOnBehalf" @bind-Value="sup.Behalf" class="input-field"/>
            <ValidationMessage For="() => sup.Behalf"/>
        </div>
    </div>
</EditForm>

}
<SupplierForm @ref="supplierSelector"/>

<SupplierSelector Title="Select a Supplier" @ref="addSupplier" OnSelected="SupplierSelectednew" Supplier="aaa"/>

