@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.7t9tbfaemk.bundle.scp.css';
@import '_content/INVUIs/INVUIs.7w3o8ejw8x.bundle.scp.css';

/* _content/INV.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-ljz8einsnp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ljz8einsnp] {
    flex: 1;
}

.sidebar[b-ljz8einsnp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ljz8einsnp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ljz8einsnp]  a, .top-row[b-ljz8einsnp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-ljz8einsnp]  a:hover, .top-row[b-ljz8einsnp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-ljz8einsnp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-ljz8einsnp] {
        justify-content: space-between;
    }

    .top-row[b-ljz8einsnp]  a, .top-row[b-ljz8einsnp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ljz8einsnp] {
        flex-direction: row;
    }

    .sidebar[b-ljz8einsnp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ljz8einsnp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ljz8einsnp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ljz8einsnp], article[b-ljz8einsnp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-ljz8einsnp] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-ljz8einsnp] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/INV.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7831hfb3uy] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.4rem;
    color: white;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-7831hfb3uy] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-7831hfb3uy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}


.bi[b-7831hfb3uy] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    transition: transform 0.2s;
}


.nav-item[b-7831hfb3uy] {
    font-size: 0.9rem;
}

.nav-item[b-7831hfb3uy]  .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-item[b-7831hfb3uy]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-7831hfb3uy]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-7831hfb3uy] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-7831hfb3uy] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7831hfb3uy] {
        display: none;
    }

    .nav-scrollable[b-7831hfb3uy] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-link[b-7831hfb3uy] {
    font-size: 1em;
    padding: 0.9px 0;
    display: flex;
    align-items: center;
}

.nav-link span[b-7831hfb3uy] {
    font-size: 0.9em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 0.5em;
}

.nav-link.active[b-7831hfb3uy] {
    background-color: #175656;
    color: white;
    font-weight: bold;
}

.nav-link:hover .bi[b-7831hfb3uy] {
    transform: scale(1.2);
}
