
.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.table th{
    color: #257180 !important;
}
.table th, .table td {
    padding: 10px;
}

.table thead {
    background-color: #FD8B51;
    color: white;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
    transition: 0.3s;
}

.table a {
    text-decoration: none;
    color: #FD8B51;
    font-weight: bold;
}

.table a:hover {
    text-decoration: underline;
}

.purchase-order-link {
    display: block;
    font-size: 0.9rem;
    color: #3498db;
    text-decoration: none;
    margin-bottom: 0.2rem;
    transition: color 0.2s ease;
}

.purchase-order-link:hover {
    color: #1d6fa5;
}
.number-input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    border: 1px solid #FD8B51;
    font-size: 14px;
    width: 40%;
}
.number-input:focus {
    outline: none;
}

.purchase-order-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.3rem 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

.purchase-order-button:hover {
    background-color: #2980b9;
}